# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT = 3000
JWT_SECRET = 
JWT_EXPIRE_TIME = "1h"
DB_NAME = 
MONGO_URI = 